.root{
    display: flex;
    justify-content: center;
    li{
        display: inline-flex;
        &.selected{
            
            a{
                color: #fff;
                background-color: #fe5f1e;
            }
        }
        a{
            cursor: pointer;
            color: #fe5f1e;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            
        }
    }
    :global{
        .selected{
            a{
                color: #fff;
                background-color: #fe5f1e;
            }
        }
    }
}